* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/*DEBUT DU HEADER*/
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.headerContainer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.headerNav ul {
  display: flex;
  gap: 35px;
}
/*FIN DU HEADER*/
.anchor {
  text-align: right;
}
/*DEBUT HERO SECTION*/
.hero-home {
  min-height: 90vh;
  background: url("images/Hero-Background.png");
  color: white;
}
.hero-content {
  width: 100%;
  min-height: 90vh;
  position: relative;
  padding: 1rem 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  text-align: center;
}
h1 {
  font-size: min(5rem, 96px);
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
}
.hero-buttons {
  display: flex;
  gap: 2vw;
  margin-top: 3rem;
}
.hero-buttons a {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 12px 2vw;
  border: 2px solid white;
  font-size: 1.125rem;
}
.hero-content img {
  position: absolute;
}
.hero-earth {
  top: 5%;
  right: 2.5%;
  width: 10%;
}
.hero-moon {
  bottom: 0;
  left: 0;
  width: 100%;
}
/*FIN HERO SECTION*/
/*DEBUT TESTIMONIALS*/
.testimonials {
  background-color: #fefefe;
  margin: 3rem 0;
  border: 2px solid #08080853;
}
.testimonials h2 {
  color: #080808;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.8rem;
}
.reviews {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 28px;
}
.review-card {
  background: #fbfcfa;
  width: 15%;
  padding: 1.5rem;
  border-radius: 10px;
  border-left: 4px solid #b79a52;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}
.stars {
  color: #fbbf24;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
.review-card p {
  color: #060606;
  line-height: 1.6;
  font-style: italic;
}
.review-card strong {
  color: #159546;
  display: block;
  margin-top: 0.5rem;
  font-style: normal;
}
@media screen and (max-width:425px) {
  .review-card{
    width: 80vw;
  }
}
/*FIN TESTIMONIALS*/
/*DEBUT FOOTER*/
.footer-social {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.footer-link ul {
  padding-top: 16px;
  text-align: center;
  display: flex;
  list-style: none;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 15px;
}
.footer-nav {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.logo-nav{
  width: 5%;
  margin: 0 auto;
}
.footer-bottom {
  margin-top: 15px;
  text-align: center;
}
/*FIN FOOTER*/
/* -------MEDIA QUERIES TABLETTE------- */
@media screen and (max-width: 800px) {
  /*DEBUT HERO SECTION*/
  .hero-content {
    padding: 1rem 20vw;
  }
  h1 {
    margin-top: 20%;
    font-size: min(4rem, 72px);
  }
  .hero-buttons {
    flex-direction: column;
    gap: 0.75rem;
    width: 100%;
    margin-top: 2rem;
  }
  .hero-buttons a {
    width: 100%;
  }
  .hero-earth {
    right: 5%;
    width: 20%;
  }
  /*FIN HERO SECTION*/
}

