@font-face {
  font-family: "Orbit";
  src: url("fonts/Orbit-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Wallpoet";
  src: url("fonts/Wallpoet-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Prompt";
  src: url("fonts/Prompt-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Prompt";
  src: url("fonts/Prompt-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Orbit", serif;
}
/*DEBUT DU HEADER*/
.logo{
  width: 10%;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.headerContainer {
  display: flex;
  justify-content: space-between;
  padding: 10px 2vw;
}
.headerNav ul {
  display: flex;
  gap: 35px;
}
/*FIN DU HEADER*/
/*DEBUT BURGER MENU*/
.nav-mobile {
  display: none;
  flex-direction: column;
  align-items: end;
  position: relative;
}

.burger-input {
  position: absolute;
  z-index: 1;
  width: 64px;
  height: 64px;
  opacity: 0;
}
.burger-btn {
  width: 64px;
  height: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 15%;
  background-color: transparent;
  border: none;
}
.burger-btn span {
  display: inline-block;
  width: 60%;
  height: 4px;
  background-color: black;
  border-radius: 100px;
}
.burger-input:checked ~ button {
  gap: 0;
}
.burger-input:checked ~ button span {
  transition: all 0.3s ease;
}
.burger-input:checked ~ button .first-line {
  transform: rotate(45deg);
}
.burger-input:checked ~ button .second-line {
  transform: rotate(-45deg);
}
.nav-mobile ul {
  top: calc(100% + 10px);
  right: 0;
  margin-right: -2vw;
  width: 0;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 2rem;
  position: absolute;
  background-color: white;
  overflow-x: hidden;
  padding: 1rem 0;
  z-index: 2;
  transition: all 0.4s ease;
}
.burger-input:checked ~ ul {
  width: 100vw;
  padding: 1rem 2vw;
}
/*FIN BURGER MENU*/
.anchor {
  text-align: right;
}
/*DEBUT HERO SECTION*/
.hero-home {
  min-height: 90vh;
  background: url("images/Hero-Background.png");
  color: white;
}
.hero-content {
  width: 100%;
  min-height: 90vh;
  position: relative;
  padding: 1rem 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  text-align: center;
}
h1 {
  font-family: "Wallpoet", Courier, monospace;
  font-size: min(5rem, 96px);
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
}
.hero-buttons {
  display: flex;
  gap: 2vw;
  margin-top: 3rem;
}
.hero-buttons a {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 12px 2vw;
  border: 2px solid white;
  font-size: 1.125rem;
}
.hero-content img {
  position: absolute;
}
.hero-earth {
  top: 5%;
  right: 2.5%;
  width: 10%;
}
.hero-moon {
  bottom: 0;
  left: 0;
  width: 100%;
}
/*FIN HERO SECTION*/
/*DEBUT CARDS SECTION*/
.cards-container {
  margin: 5vh 20vw;
}
.cards-container h2 {
  font-size: 2.5rem;
  margin-bottom: 3rem;
  font-family: "Prompt", serif;
  font-weight: 300;
  font-style: italic;
}
.card-home {
  display: flex;
  column-gap: 1vw;
  border-bottom: 8px solid black;
}
.card-reverse {
  flex-direction: row-reverse;
}
.img-container {
  width: 40%;
  background-color: black;
  display: flex;
  align-items: center;
}
.img-container img {
  width: 100%;
}
.text-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.text-card h3 {
  font-size: 1.75rem;
  line-height: 2;
  border-bottom: 2px solid black;
  font-family: "Prompt", serif;
  font-weight: 200;
  font-style: italic;
}
.text-card a {
  width: fit-content;
  color: black;
  font-size: 1.125rem;
  text-decoration: none;
  line-height: 2;
}
/*FIN CARDS SECTION*/
/*DEBUT TESTIMONIALS*/
.testimonials {
  background-color: #fefefe;
  margin: 3rem 0;
  border: 2px solid #08080853;
  width: 60vw;
  margin: 0 auto;
}
.testimonials h2 {
  font-family: "Prompt", serif;
  font-weight: 300;
  font-style: italic;
  color: #080808;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.8rem;
}
.reviews {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 28px;
  margin-bottom: 15px;
}
.review-card {
  background: #fbfcfa;
  width: 30%;
  padding: 1.5rem;
  border-radius: 10px;
  border-left: 4px solid #b79a52;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
.stars {
  color: #fbbf24;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
.review-card p {
  color: #060606;
  line-height: 1.6;
  font-style: italic;
}
.review-card strong {
  color: #159546;
  display: block;
  margin-top: 0.5rem;
  font-style: normal;
}
.testimonials-resp{
  display: none;
}
/*RESPONSIVE TESTIMONIALS*/
.testimonials-resp{
  background-color: #fefefe;
  margin: 3rem 0;
  border: 2px solid #08080853;
}
.testimonials-resp h2 {
  font-family: "Prompt", serif;
  font-weight: 300;
  font-style: italic;
  color: #080808;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1rem;
}
.reviews-resp {
  display: flex;
  gap: 28px;
}
.review-card-resp {
  background: #fbfcfa;
  padding: 1rem;
  border-radius: 10px;
  border-left: 4px solid #b79a52;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
.stars {
  color: #fbbf24;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
.review-card-resp p {
  color: #060606;
  line-height: 1.6;
  font-style: italic;
}
.review-card-resp strong {
  color: #159546;
  display: block;
  margin-top: 0.5rem;
  font-style: normal;
}
/*FIN RESPONSIVE TESTIMONIALS*/
/*DEBUT FOOTER*/
.footer-social {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.footer-link ul {
  padding-top: 16px;
  text-align: center;
  display: flex;
  list-style: none;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 15px;
}
.footer-nav {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.logo-nav{
  width: 5%;
  margin: 0 auto;
}
.footer-bottom {
  margin-top: 15px;
  text-align: center;
}
/*FIN FOOTER*/
/* -------MEDIA QUERIES TABLETTE------- */
@media screen and (max-width: 800px) {
  .logo{
  display: none;
  }
  .logo-nav{
  width: 50%;
  /* DEBUT MENU BURGER */
  .nav-desktop {
    display: none;
  }
  .nav-mobile {
    display: flex;
  }
  /* FIN MENU BURGER */
  /*DEBUT HERO SECTION*/
  .hero-content {
    padding: 1rem 20vw;
  }
  h1 {
    margin-top: 20%;
    font-size: min(4rem, 72px);
  }
  .hero-buttons {
    flex-direction: column;
    gap: 0.75rem;
    width: 100%;
    margin-top: 2rem;
  }
  .hero-buttons a {
    width: 100%;
  }
  .hero-earth {
    right: 5%;
    width: 20%;
  }
  /*FIN HERO SECTION*/
  /*DEBUT CARDS SECTION*/
  .cards-container {
    margin: 5vh 10vw;
  }
  .cards-container h2 {
    font-size: 2rem;
  }
  .card-home {
    column-gap: 2.5vw;
  }
  .text-card h3 {
    font-size: 1.5rem;
  }
  /*FIN CARDS SECTION*/
  /*DEBUT TESTIMONIALS*/
  .testimonials-resp{
    margin-left: 15px;
    margin-right: 30px;
  }
  .testimonials-resp h2{
    font-size: 2rem;
  }
  .reviews-resp{
    overflow-x: scroll;
    gap:25px;
    padding: 10%;
  }
  .review-card-resp{
    border-radius: 15px;
    min-width: 80vw;
  }
  .testimonials{
   display: none;
  }
  .testimonials-resp{
    display: block;
  }
}

