/*DEBUT DU HEADER*/
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
.headerContainer{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.headerNav ul{
    display: flex;
    gap: 35px;
}
/*FIN DU HEADER*/
.anchor{
    text-align: right;
}
/*DEBUT FOOTER*/
.footer-social{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.footer-link ul{
    padding-top: 16px;
    text-align: center;
    display: flex;
    list-style: none;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 15px;
}
.footer-nav{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.logo-nav{
    width: 5%;
    margin: 0 auto;
}
.footer-bottom{
    margin-top: 15px;
    text-align: center;
}
/*FIN FOOTER*/
