* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/*DEBUT DU HEADER*/
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.headerContainer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.headerNav ul {
  display: flex;
  gap: 35px;
}
/*FIN DU HEADER*/
.anchor {
  text-align: right;
}
/*DEBUT HERO SECTION*/
.hero-home {
  min-height: 90vh;
  background: url("images/Hero-Background.png");
  color: white;
}
.hero-content {
  width: 100%;
  min-height: 90vh;
  position: relative;
  padding: 1rem 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  text-align: center;
}
h1 {
  font-size: min(5rem, 96px);
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
}
.hero-buttons {
  display: flex;
  gap: 2vw;
  margin-top: 3rem;
}
.hero-buttons a {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 12px 2vw;
  border: 2px solid white;
  font-size: 1.125rem;
}
.hero-content img {
  position: absolute;
}
.hero-earth {
  top: 5%;
  right: 2.5%;
  width: 10%;
}
.hero-moon {
  bottom: 0;
  left: 0;
  width: 100%;
}
/*FIN HERO SECTION*/
/*DEBUT CARDS SECTION*/
.cards-container {
  margin: 5vh 20vw;
}
.cards-container h2 {
  font-size: 2.5rem;
  margin-bottom: 3rem;
}
.card-home {
  display: flex;
  column-gap: 1vw;
  border-bottom: 8px solid black;
}
.card-reverse {
  flex-direction: row-reverse;
}

.img-container {
  width: 40%;
  background-color: black;
  display: flex;
  align-items: center;
}
.img-container img {
  width: 100%;
}
.text-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.text-card h3 {
  font-size: 1.5rem;
  line-height: 2;
  border-bottom: 2px solid black;
}
.text-card a {
  width: fit-content;
  color: black;
  font-size: 1.125rem;
  text-decoration: none;
  line-height: 2;
}
/*FIN CARDS SECTION*/
/*DEBUT FOOTER*/
.footer-social {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.footer-link ul {
  padding-top: 16px;
  text-align: center;
  display: flex;
  list-style: none;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 15px;
}
.footer-nav {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.logo-nav {
  width: 5%;
  margin: 0 auto;
}
.footer-bottom {
  margin-top: 15px;
  text-align: center;
}
/*FIN FOOTER*/
/* -------MEDIA QUERIES TABLETTE------- */
@media screen and (max-width: 800px) {
  /*DEBUT HERO SECTION*/
  .hero-content {
    padding: 1rem 20vw;
  }
  h1 {
    margin-top: 20%;
    font-size: min(4rem, 72px);
  }
  .hero-buttons {
    flex-direction: column;
    gap: 0.75rem;
    width: 100%;
    margin-top: 2rem;
  }
  .hero-buttons a {
    width: 100%;
  }
  .hero-earth {
    right: 5%;
    width: 20%;
  }
  /*FIN HERO SECTION*/
  /*DEBUT CARDS SECTION*/
  .cards-container {
    margin: 5vh 10vw;
  }
  .cards-container h2 {
    font-size: 2rem;
  }
  .card-home {
    column-gap: 2.5vw;
  }
  /*FIN CARDS SECTION*/
}
