/*DEBUT DU HEADER*/
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
.headerContainer{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.headerNav ul{
    display: flex;
    gap: 35px;
}
/*FIN DU HEADER*/
/*------------ MISE EN FORME TABLEAU--------------*/
.formule{
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: space-evenly;*/ 
    /* background-color: rgb(168, 57, 57); */
    width: 100%;
}

table{
    /* background-color: rgba(14, 37, 168, 0.352); */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* .rowTitle {
  transform: rotate(90deg);
} */
td img{
    width: 10%;
}
tr{
    text-align: center;
}
/* table{
    border: solid 1px;
} */
td{
    border-bottom: dotted 1px;
}
.tableHeader{
    color: aqua;
}
.formuleChart{
    width: 40%;
}