/*DEBUT DU HEADER*/
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
.headerContainer{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.headerNav ul{
    display: flex;
    gap: 35px;
}
/*FIN DU HEADER*/
/*-------------DEBUT FORMULAIRE--------------*/
.section-description{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
@media (max-width:768px){
  .section-description{
    flex-direction: column;
    margin: 0 auto;
  }
}
.section-description img{
  width: 40vh;
  height: auto;
}
.section{
    width: 40vh;
    padding: 20px;
    background: rgb(3, 3, 3);
    border-radius: 8px;
    text-align: center;
}
.section img{
    max-width: 100%;
    border-radius: 5px;
}
.description-img{
    font-size: 20px;
    color: rgb(250, 249, 249);
}
.toggle-desc {
  display: none;
}
.arrow-container {
  margin: 15px 0;
  cursor: pointer;
  display: inline-block;
}
.arrow-down {
  font-size: 15px;
  display: inline-block;
  transition: transform 0.3s;
  color: #e9e9e9;
}
.description-box {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  background: #e9e9e9;
  border-radius: 5px;
  padding: 0 15px;
  margin: 10px 0;
}
.textBox{
  color: #090808;
}
.toggle-desc:checked ~ .description-box {
  max-height: fit-content;
  padding: 15px;
}
.section-venus{
    width: 40vh;
    padding: 20px;
    background: rgb(3, 3, 3);
    border-radius: 8px;
    text-align: center;
}
.section-venus img{
    max-width: 100%;
    border-radius: 5px;
}
.description-img-venus{
    font-size: 20px;
    color: rgb(250, 249, 249);
}
.toggle-desc-venus{
  display: none;
}
.arrow-container-venus{
  margin: 15px 0;
  cursor: pointer;
  display: inline-block;
}
.arrow-down-venus {
  font-size: 15px;
  display: inline-block;
  transition: transform 0.3s;
  color: #e9e9e9;
}
.description-box-venus {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  background: #e9e9e9;
  border-radius: 5px;
  padding: 0 15px;
  margin: 10px 0;
}
.textBox-venus{
  color: #090808;
}
.toggle-desc-venus:checked ~ .description-box-venus {
  max-height: fit-content;
  padding: 15px;
}
.section-mercury{
    width: 40vh;
    padding: 20px;
    background: rgb(3, 3, 3);
    border-radius: 8px;
    text-align: center;
}
.section-mercury img{
    max-width: 100%;
    border-radius: 5px;
}
.description-img-mercury{
    font-size: 20px;
    color: rgb(250, 249, 249);
}
.toggle-desc-mercury{
  display: none;
}
.arrow-container-mercury{
  margin: 15px 0;
  cursor: pointer;
  display: inline-block;
}
.arrow-down-mercury {
  font-size: 15px;
  display: inline-block;
  transition: transform 0.3s;
  color: #e9e9e9;
}
.description-box-mercury {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  background: #e9e9e9;
  border-radius: 5px;
  padding: 0 15px;
  margin: 10px 0;
}
.textBox-mercury{
  color: #090808;
}
.toggle-desc-mercury:checked ~ .description-box-mercury {
  max-height: fit-content;
  padding: 15px;
}
.section-sun{
    width: 40vh;
    padding: 20px;
    background: rgb(3, 3, 3);
    border-radius: 8px;
    text-align: center;
}
.section-sun img{
    max-width: 100%;
    border-radius: 5px;
}
.description-img-sun{
    font-size: 20px;
    color: rgb(250, 249, 249);
}
.toggle-desc-sun{
  display: none;
}
.arrow-container-sun{
  margin: 15px 0;
  cursor: pointer;
  display: inline-block;
}
.arrow-down-sun{
  font-size: 15px;
  display: inline-block;
  transition: transform 0.3s;
  color: #e9e9e9;
}
.description-box-sun{
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  background: #e9e9e9;
  border-radius: 5px;
  padding: 0 15px;
  margin: 10px 0;
}
.textBox-sun{
  color: #090808;
}
.toggle-desc-sun:checked ~ .description-box-sun{
  max-height: fit-content;
  padding: 15px;
}
/*------END PRESENTATION VOYAGE----*/
/*------------ MISE EN FORME TABLEAU--------------*/
.formule{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
table{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
td img{
    width: 10%;
}
tr{
    text-align: center;
}
td{
    border-bottom: dotted 1px;
}
.tableHeader{
    color: aqua;
}
.formuleChart{
    width: 40%;
}
/*DEBUT FOOTER*/
.footer-social{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.footer-link ul{
    padding-top: 16px;
    text-align: center;
    display: flex;
    list-style: none;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 15px;
}
.footer-nav{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.logo-nav{
    width: 5%;
    margin: 0 auto;
}
.footer-bottom{
    margin-top: 15px;
    text-align: center;
}
/*FIN FOOTER*/