/*DEBUT DU HEADER*/
a{
  text-decoration: none;
}
li{
  list-style-type: none;
}
.headerContainer{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.headerNav ul{
  display: flex;
  gap: 35px;
}
/*FIN DU HEADER*/
/*-------------DEBUT FORMULAIRE--------------*/
.section-description{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
h2{
  font-size: 1.5rem;
}
.section-description img{
  width: 15vw;
  height: auto;
}
.section{
  width: 20vw;
  padding: 20px;
  background: rgb(3, 3, 3);
  border-radius: 8px;
  text-align: center;
}
.section img{
  max-width: 100%;
  border-radius: 5px;
}
.description-img{
  font-size: 1rem;
  color: rgb(250, 249, 249);
}
.toggle-desc {
  display: none;
}
.arrow-container {
  margin: 15px 0;
  cursor: pointer;
  display: inline-block;
}
.arrow-down {
  font-size: 1rem;
  display: inline-block;
  transition: transform 0.3s;
  color: #e9e9e9;
}
.description-box {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  background: #e9e9e9;
  border-radius: 5px;
  padding: 0 15px;
  margin: 10px 0;
}
.textBox{
  color: #090808;
}
.toggle-desc:checked ~ .description-box {
  max-height: fit-content;
  padding: 15px;
}
.section-venus{
  width: 20vw;
  padding: 20px;
  background: rgb(3, 3, 3);
  border-radius: 8px;
  text-align: center;
}
.section-venus img{
  max-width: 100%;
  border-radius: 5px;
}
.description-img-venus{
  font-size: 1rem;
  color: rgb(250, 249, 249);
}
.toggle-desc-venus{
  display: none;
}
.arrow-container-venus{
  margin: 15px 0;
  cursor: pointer;
  display: inline-block;
}
.arrow-down-venus {
  font-size: 15px;
  display: inline-block;
  transition: transform 0.3s;
  color: #e9e9e9;
}
.description-box-venus {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  background: #e9e9e9;
  border-radius: 5px;
  padding: 0 15px;
  margin: 10px 0;
}
.textBox-venus{
  color: #090808;
}
.toggle-desc-venus:checked ~ .description-box-venus {
  max-height: fit-content;
  padding: 15px;
}
.section-mercury{
  width: 20vw;
  padding: 20px;
  background: rgb(3, 3, 3);
  border-radius: 8px;
  text-align: center;
}
.section-mercury img{
  max-width: 100%;
  border-radius: 5px;
}
.description-img-mercury{
  font-size: 1rem;
  color: rgb(250, 249, 249);
}
.toggle-desc-mercury{
  display: none;
}
.arrow-container-mercury{
  margin: 15px 0;
  cursor: pointer;
  display: inline-block;
}
.arrow-down-mercury {
  font-size: 1rem;
  display: inline-block;
  transition: transform 0.3s;
  color: #e9e9e9;
}
.description-box-mercury {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  background: #e9e9e9;
  border-radius: 5px;
  padding: 0 15px;
  margin: 10px 0;
}
.textBox-mercury{
  color: #090808;
}
.toggle-desc-mercury:checked ~ .description-box-mercury {
  max-height: fit-content;
  padding: 15px;
}
.section-sun{
  width: 20vw;
  padding: 20px;
  background: rgb(3, 3, 3);
  border-radius: 8px;
  text-align: center;
}
.section-sun img{
  max-width: 100%;
  border-radius: 5px;
}
.description-img-sun{
  font-size: 1rem;
  color: rgb(250, 249, 249);
}
.toggle-desc-sun{
  display: none;
}
.arrow-container-sun{
  margin: 15px 0;
  cursor: pointer;
  display: inline-block;
}
.arrow-down-sun{
  font-size: 1rem;
  display: inline-block;
  transition: transform 0.3s;
  color: #e9e9e9;
}
.description-box-sun{
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  background: #e9e9e9;
  border-radius: 5px;
  padding: 0 15px;
  margin: 10px 0;
}
.textBox-sun{
  color: #090808;
}
.toggle-desc-sun:checked ~ .description-box-sun{
  max-height: fit-content;
  padding: 15px;
}

/*------END PRESENTATION VOYAGE----*/
/*------------ MISE EN FORME TABLEAU--------------*/
.formule{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.formule h2{
  font-weight: bolder;
}
table{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #e4d9ff;
}
td img{
  width: 10%;
}
tr{
  text-align: center;
}
.formuleChart{
    width: 50%;
}
.rowPair{
  background-color: #b298dc;
}
.rowImpair{
  background-color: #e4d9ff;
}
.rowTitle{
  width: 18%;
  border-bottom: dotted black 2px;
}
button {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid grey;
  background-color: #a663cc;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: bold;
}
button:hover {
    background-color: #6f2dbd;
    cursor: pointer;
}
.lastRow {
  background-color: none;
}
.activity{
  text-align: start;
  font-weight: bold;
  color: #594279;
}
.activity img{
  width: 1rem;
}
.informationIcon{
  width: 1rem;
}
/*A voir si on garde ou pas*/
.lastRow td{
  border-top: solid 1px black;
}
.formuleChartTablet{
  visibility: hidden;
}
/*---------FIN MISE EN FORME TABLEAU-----------*/ 
/*DEBUT FOOTER*/
.footer-social{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.footer-link ul{
  padding-top: 16px;
  text-align: center;
  display: flex;
  list-style: none;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 15px;
}
.footer-nav{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.logo-nav{
  width: 5%;
  margin: 0 auto;
}
.footer-bottom{
  margin-top: 15px;
  text-align: center;
}
/*FIN FOOTER*/
/*MEDIA QUERIES*/
@media screen and (max-width:800px){
  .section-description{
    display: flex;
    flex-wrap: wrap;
  }
  .section-description img{
    width: 100%;
  }
  .section{
    width: 70vw;
  }
  .section-venus{
    width: 70vw;
  }
  .section-mercury{
    width: 70vw;
  }
  .section-sun{
    width: 70vw;
  }
  .description-img{
    font-size: 2rem;
  }
  .arrow-down{
    font-size: 1.5rem;
  }
  .description-box{
    font-size: 1.5rem;
  }
  .description-img-venus{
    font-size: 2rem;
  }
  .arrow-down-venus{
    font-size: 1.5rem;
  }
  .description-box-venus{
    font-size: 1.5rem;
  }
  .description-img-mercury{
    font-size: 2rem;
  }
  .arrow-down-mercury{
    font-size: 1.5rem;
  }
  .description-box-mercury{
    font-size: 1.5rem;
  }
  .description-img-sun{
    font-size: 2rem;
  }
  .description-img-sun{
    font-size: 2rem;
  }
  .arrow-down-sun{
    font-size: 1.5rem;
  }
  .description-box-sun{
    font-size: 1.5rem;
  }
  h2{
    font-size: 2rem;
  }
  /*--------TABLEAU FORMULE VERSION TABLETTE-----*/
  .formuleChartDesktop{
    visibility: hidden;
  }
  .formuleChartTablet{
    visibility: visible;
  }
  .notInclude{
  text-decoration: line-through;
  color: grey;
  }
  .notInclude img{
  filter: grayscale(100%);
  }
  .allCards{
    display: flex;
    justify-content: space-around;
    gap: 20px;
  }
  .allCards h3{
    text-align: center;
    border-bottom: dotted 2px navy;
    padding-bottom: 20px;
  }
  .allCards p{
    align-items: center;  
  }  
  .individualCard{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #e4d9ff;
  }
/*--------FIN CSS - TABLEAU FORMULE VERSION TABLETTE-----*/
}
@media screen and (max-width:425px){
  .section-description{
    display: flex;
    flex-direction: column;
  }
  .section-description img{
    width: 100%;
  }
  .section{
    width: 80vw;
  }
  .section-venus{
    width: 80vw;
  }
  .section-mercury{
    width: 80vw;
  }
  .section-sun{
    width: 80vw;
  }
}
