*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*DEBUT DU HEADER*/
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
.headerContainer{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.headerNav ul{
    display: flex;
    gap: 35px;
}
/*FIN DU HEADER*/
.anchor{
    text-align: right;
}
/*DEBUT DU FORMULAIRE*/
h2{
    text-align: center;
    margin: 25px;
}
.infoContainerForm{
    text-align: center;
}
.infoForm label{
    display: block;
    margin-bottom: 5px;
}
.infoForm input{
    width: 50%;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
}
.buttonForm{
    background-color: aquamarine;
    color: black;
    padding: 12px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/*DEBUT FOOTER*/
.footer-social{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.footer-link ul{
    padding-top: 16px;
    text-align: center;
    display: flex;
    list-style: none;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 15px;
}
.footer-nav{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.logo-nav{
    width: 5%;
    margin: 0 auto;
}
.footer-bottom{
    margin-top: 15px;
    text-align: center;
}
/*FIN FOOTER*/
